{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osvaldo Silva Advocacia</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar" id="navbar">
        <ul>
            <a href="">Início</a>
            <a href="">Serviços</a>
            <a href="">Contato</a>
        </ul>
    </nav>
    <!-- HEADER -->
    <header>
        <div class="header-desc">
            <div class="title">Osvaldo Silva</div>
            <div class="subtitle">Advogado Criminalista</div>
        </div>
        <div class="image-pr">
            <img src="{% static 'images/advogado-pic.jpg'%}" alt="">
        </div>
        <div class="contact-header">
            <div class="button-schedule">
                <a href="">
                    <button>Agende uma consulta</button>
                </a>
            </div>
            <div class="number-header">12 91234-5678</div>
        </div>
    </header>

    <main>
        <div class="services">
            <div class="service-case">
                <div class="title">Consultoria Jurídica</div>
                <div class="description">Examino documentos, contratos e situações jurídicas para identificar riscos, obrigações e oportunidades. Isso inclui a revisão de acordos e políticas para garantir conformidade com as leis e regulamentos aplicáveis.</div>
            </div>
            <div class="service-case">
                <div class="title">Defesa em Processos</div>
                <div class="description">Reuno e analiso provas para apoiar a defesa, incluindo testemunhas, documentos e outros materiais relevantes. Isso pode envolver entrevistas, obtenção de depoimentos e análise das provas da parte adversária.</div>
            </div>
            <div class="service-case">
                <div class="title">Assistência em Investigações</div>
                <div class="description">Trabalho com peritos ou especialistas em áreas específicas, como contabilidade forense, tecnologia da informação, para obter uma análise técnica ou científica das evidências.</div>
            </div>
            <div class="service-case">
                <div class="title">Elaboração e Revisão de Documentos Legais</div>
                <div class="description">Interrogo testemunhas, apresento depoimentos e evidências, e realizo o contra-interrogatório das testemunhas da parte adversária para fortalecer o caso e contestar alegações.</div>
            </div>
        </div>
    </main>

    <footer class="footer-32892 pb-0">
        <div class="site-section">
          <div class="container">
  
            
            <div class="row">
  
              <div class="col-md pr-md-5 mb-4 mb-md-0">
                <h3>Sobre nós</h3>
                <p class="mb-4">Osvaldo Silva é um renomado advogado criminalista baseado na cidade de São Paulo, conhecido por sua experiência e dedicação em questões jurídicas complexas. Com uma sólida formação acadêmica e vasta experiência na área do direito penal, Osvaldo se destaca pela defesa eficaz e estratégica de seus clientes em casos de alta gravidade.</p>
                <ul class="list-unstyled quick-info mb-4">
                  <li><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-phone"></span> +55 (47) 12 91234-5678</a></li>
                  <li><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-envelope"></span> contato@advgdsilva.com</a></li>
                </ul>
  
                <form action="#" class="subscribe">
                  <input type="text" class="form-control" placeholder="Enter your e-mail">
                  <input type="submit" class="btn btn-submit" value="Send">
                </form>
              </div>
              <div class="col-md mb-4 mb-md-0">
                <h3>Opinião de clientes</h3>
                <ul class="list-unstyled tweets">
                  <li class="d-flex">
                    <div class="mr-4"><span class="icon icon-twitter"></span></div>
                    <div> José — Osvaldo é um grande advogado criminalista. Profissional e competente </div>
                  </li>
                  <li class="d-flex">
                    <div class="mr-4"><span class="icon icon-twitter"></span></div>
                    <div>Lindosmar — Osvaldo é um advogado criminalista excepcional. Sua dedicação e habilidade em cada caso são impressionantes, sempre buscando a melhor solução para seus clientes.</div>
                  </li>
                  <li class="d-flex">
                    <div class="mr-4"><span class="icon icon-twitter"></span></div>
                    <div>Ana — Osvaldo se destaca como advogado criminalista pela sua vasta experiência e competência. Sua abordagem meticulosa e comprometida faz toda a diferença no sucesso dos casos que assume.</div>
                  </li>
                </ul>
              </div>
  
  
              <div class="col-md-3 mb-4 mb-md-0">
                <h3>Instagram</h3>
                <div class="row gallery">
                  <div class="col-6">
                    <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
                    <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="col-6">
                    <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
                    <a href="#"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                </div>
              </div>
              
              <div class="col-12">
                <div class="py-5 footer-menu-wrap d-md-flex align-items-center">
                  <ul class="list-unstyled footer-menu mr-auto">
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contato</a></li>
                    
                  </ul>
                  <div class="site-logo-wrap ml-auto">
                    <a href="#" class="site-logo">
                    </a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </footer>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>